<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>discuss</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/discuss.css">
    <script src="../scripts/init-base-font-size.js"></script>
</head>
<body>
<div class="shortcut">
    <div class="left"></div>
    <div class="title">清清淡淡的美 闲适午后</div>
    <div class="right"></div>

</div>
<div class="discuss-area">
    <div class="discuss-num">评论(81)</div>
    <ul class="list">
        <li class="clearfix">
            <div class="icon"><img src="../images/discuss/icon.png"> </div>
            <div class="discuss">
                <div class="name">开口硬</div>
                <div class="content clearfix">
                    <div class="text">海绵宝宝是不是要出来了</div>
                    <div class="time">2小时前</div>
                </div>
            </div>
            <div class="support clearfix">233</div>
        </li>
        <li class="clearfix">
            <div class="icon"><img src="../images/discuss/icon.png"> </div>
            <div class="discuss">
                <div class="name">开口硬</div>
                <div class="content clearfix">
                    <div class="text">海绵宝宝是不是要出来了</div>
                    <div class="time">2小时前</div>
                </div>
            </div>
            <div class="support clearfix">
                <i class="support-icon"></i>
                23
            </div>
        </li>
        <li class="clearfix">
            <div class="icon"><img src="../images/discuss/icon.png"> </div>
            <div class="discuss">
                <div class="name">开口硬</div>
                <div class="content clearfix">
                    <div class="text">海绵宝宝是不是要出来了</div>
                    <div class="time">2小时前</div>
                </div>
            </div>
            <div class="support clearfix">
                2
            </div>
        </li>
        <li class="clearfix">
            <div class="icon"><img src="../images/discuss/icon.png"> </div>
            <div class="discuss">
                <div class="name">开口硬</div>
                <div class="content clearfix">
                    <div class="text">海绵宝宝是不是要出来了</div>
                    <div class="time">2小时前</div>
                </div>
            </div>
            <div class="support clearfix">
                <i class="support-icon"></i>
                233
            </div>
        </li>
        <li class="clearfix">
            <div class="icon"><img src="../images/discuss/icon.png"> </div>
            <div class="discuss">
                <div class="name">开口硬</div>
                <div class="content clearfix">
                    <div class="text">海绵宝宝是不是要出来了</div>
                    <div class="time">2小时前</div>
                </div>
            </div>
            <div class="support clearfix">
                <i class="support-icon"></i>
                233
            </div>
        </li>

    </ul>
    <div class="more">
        <a>查看更多评论</a>
    </div>

</div>
<div class="comment clearfix">
    <input class="text" type="text" placeholder="输入评论">
    <input class="btn" type="button" value="发送">

</div>

</body>
</html>