<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dynamic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="../scripts/init-base-font-size.js"></script>
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/dynamic.css">
</head>
<body>
<div class="shortcut">
    <div class="left"></div>
    <div class="logo"></div>
    <div class="right"></div>
</div>
<div class="remind">
    <ul class="remind-list">
        <li class="clearfix">
            <div class="icon">
                <img src="../images/dynamic/pen.png">
            </div>
            <div class="text">
                <div class="top">想在echo找到更多相识好友?</div>
                <div class="bottom">第一步要做的是。。。。。。</div>
            </div>
            <div class="right">
                >
            </div>
        </li>
        <li class="clearfix">
            <div class="icon">
                <img src="../images/dynamic/pen.png">
            </div>
            <div class="text">
                <div class="top">第一次来echo玩什么？</div>
                <div class="bottom">来一次初体验吧</div>
            </div>
            <div class="right">
                >
            </div>
        </li>
    </ul>
</div>
<div class="details">
    <ul class="details-list">
        <li>
            <div class="title clearfix">
                <div class="icon"></div>
                <div class="text">
                    <div class="name">echo回声</div>
                    <div class="time">7个月前</div>
                </div>
            </div>
            <div class="content clearfix">
                <div class="video"></div>
                <div class="video-text">
                    <div class="video-title">欢迎来到echo回声</div>
                    <div class="video-time">0:44</div>
                    <div class="pin-dao-content clearfix">
                        <div class="pin-dao-name">echo</div>
                        <div class="pin-dao">频道</div>
                    </div>
                </div>
            </div>
            <ul class="discuss clearfix">
                <li class="support clearfix">
                    <a class="support-name">赞</a>
                    <span class="support-num">1.1万</span>
                </li>
                <li class="comment clearfix">
                    <a class="comment-text">评论</a>
                </li>
                <li class="rebroadcast clearfix">
                    <a class="rebroadcast-name">转播</a>
                    <span class="rebroadcast-num">1.1万</span>
                </li>
            </ul>
            <div class="images">
                <ul class="images-list clearfix">
                    <li><img src="../images/dynamic/image1.png"></li>
                    <li><img src="../images/dynamic/image2.png"></li>
                    <li><img src="../images/dynamic/image2.png"></li>
                    <li><img src="../images/dynamic/image1.png"></li>
                    <li><img src="../images/dynamic/image2.png"></li>
                    <li><img src="../images/dynamic/image1.png"></li>
                    <li><img src="../images/dynamic/image2.png"></li>
                    <li><img src="../images/dynamic/image1.png"></li>
                    <li><img src="../images/dynamic/image1.png"></li>

                </ul>
            </div>
        </li>
        <li>
            <div class="title clearfix">
                <div class="icon"></div>
                <div class="text">
                    <div class="name">echo回声</div>
                    <div class="time">7个月前</div>
                </div>
            </div>
            <div class="content clearfix">
                <div class="video"></div>
                <div class="video-text">
                    <div class="video-title">欢迎来到echo回声</div>
                    <div class="video-time">0:44</div>
                    <div class="pin-dao-content clearfix">
                        <div class="pin-dao-name">echo</div>
                        <div class="pin-dao">频道</div>
                    </div>
                </div>
            </div>
            <ul class="discuss clearfix">
                <li class="support clearfix">
                    <a class="support-name">赞</a>
                    <span class="support-num">1.1万</span>
                </li>
                <li class="comment clearfix">
                    <a class="comment-text">评论</a>
                </li>
                <li class="rebroadcast clearfix">
                    <a class="rebroadcast-name">转播</a>
                    <span class="rebroadcast-num">1.1万</span>
                </li>
            </ul>
            <div class="images">
                <ul class="images-list clearfix">
                    <li><img src="../images/dynamic/image2.png"></li>
                    <li><img src="../images/dynamic/image2.png"></li>
                    <li><img src="../images/dynamic/image1.png"></li>
                    <li><img src="../images/dynamic/image2.png"></li>
                    <li><img src="../images/dynamic/image2.png"></li>
                    <li><img src="../images/dynamic/image2.png"></li>
                    <li><img src="../images/dynamic/image2.png"></li>
                    <li><img src="../images/dynamic/image2.png"></li>
                    <li><img src="../images/dynamic/image2.png"></li>

                </ul>
            </div>
        </li>
    </ul>
</div>
<div class="footer">
    <ul class="footer-list clearfix">
        <li class="tab-dynamic active">
            <a href="#" class="text">动态</a>
        </li>
        <li class="tab-music ">
            <a href="#" class="text">回声</a>
        </li>
        <li class="tab-channel">
            <a href="#" class="text">频道</a>
        </li>
        <li class="tab-mine">
            <a href="#" class="text">我的</a>
        </li>
    </ul>

</div>
<script src="../scripts/jquery-1.9.1.min.js"></script>
<script src="../scripts/footer.js"></script>

</body>
</html>