<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>echo-voice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/echo-voice.css">
    <script src="../scripts/init-base-font-size.js"></script>
</head>
<body>
<div class="shortcut clearfix">
    <div class="search">
        <input type="text" placeholder="洗澡">
    </div>
    <div class="btn">取消</div>
</div>
<div class="content">
    <ul class="tab clearfix">
        <li class="active">声音</li>
        <li class="spacer"></li>
        <li>频道</li>
        <li class="spacer"></li>
        <li>人</li>

    </ul>
    <ul class="content-list" >
        <script id="content-template" type="text/x-handlebars-template">
            {{#each list}}
            <li class="clearfix">
                <div class="voice-icon">
                    <img src={{src}}>
                </div>
                <div class="voice-text">
                    <div class="voice-title">{{title}}</div>
                    <div class="voice-word">{{word}}</div>
                </div>
                <div class="voice-support">
                    <div class="voice-like"></div>
                    <div class="voice-num">{{num}}</div>
                </div>
            </li>
            {{/each}}

        </script>
    </ul>
</div>
<div class="footer">
    <ul class="footer-list clearfix">
        <li class="tab-dynamic">
            <a href="#" class="text">动态</a>
        </li>
        <li class="tab-music active">
            <a href="#" class="text">回声</a>
        </li>
        <li class="tab-channel">
            <a href="#" class="text">频道</a>
        </li>
        <li class="tab-mine">
            <a href="#" class="text">我的</a>
        </li>
    </ul>

</div>
<script src="../scripts/jquery-1.9.1.min.js"></script>
<script src="../scripts/footer.js"></script>

<script src="../scripts/handlebars/handlebars.js"></script>
<script src="../scripts/handlebars-helper.js"></script>
<script>
    $(function(){
        (function($){
            var content= {
                list :[
                    {
                        src:"../images/echo-voice/image1.png",
                        title:"我爱洗澡-范晓萱",
                        word:"所属专辑:小魔女的魔法书2 魔法书2",
                        num:"91"
                    },
                    {
                        src:"../images/echo-voice/image2.png",
                        title:"女生洗澡内心独白",
                        word:"",
                        num:"9"
                    },
                    {
                        src:"../images/echo-voice/image3.png",
                        title:"我家这个不喜欢洗澡",
                        word:"",
                        num:"45"
                    },
                    {
                        src:"../images/echo-voice/image4.png",
                        title:"常见的十大洗澡误区",
                        word:"",
                        num:"46"
                    },
                    {
                        src:"../images/echo-voice/image3.png",
                        title:"我爱洗澡-范晓萱",
                        word:"所属专辑:小魔女的魔法书2 魔法书2",
                        num:"57"
                    }
                ]
            }

           var template= Handlebars.compile($("#content-template").html());
            $(".content-list").html(template(content));

        })(jQuery);
    });
</script>

</body>
</html>