<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ext-01</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/ext-01.css">
    <script src="../scripts/init-base-font-size.js"></script>

</head>
<body>
<div class="content clearfix">
    <ul class="list">
        <li class="clearfix"><img class="close" src="../images/ext-01/icon1.png">关闭弹幕</li>
        <li class="clearfix"><img class="copy" src="../images/ext-01/icon2.png">复制分享链接</li>
        <li class="clearfix"><img class="inform" src="../images/ext-01/icon3.png">举报不良信息</li>
    </ul>
<div class="control"></div>
</div>
</body>
</html>