<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ext-02</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/ext-02.css">
    <script src="../scripts/init-base-font-size.js"></script>
</head>
<body>
<div class="content">
    <div class="logo"></div>
    <ul class="btn">
        <li><input type="button" class="register" value="手机注册"></li>
        <li><i class="icon"></i><input type="button" class="log-in" value="微博登录"></li>
    </ul>
    <div class="footer">已有账号在此登录></div>
</div>

</body>
</html>