<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/index.css">
    <script src="../scripts/init-base-font-size.js"></script>
</head>
<body>
<div class="shortcut">
    <div class="logo"></div>
</div>
<div class="content">
    <div class="image-wall">
        <ul class="image-list">
            <li><img src="../images/index/image1.png"></li>
        </ul>

    </div>
    <div class="recommend">
        <div class="btn">
            <input type="button" value="echo每日推荐">
        </div>
        <ul class="content-list clearfix">
            <li>
                <div class="image">
                    <img src="../images/index/image2.png">
                </div>
                <ul class="title clearfix">
                    <li>清清淡淡的美</li>
                    <li>海阔天空</li>
                </ul>
                <ul class="pin-dao clearfix">
                    <li>那些好听的翻唱</li>
                    <li>频道</li>
                </ul>
            </li>
            <li>
                <div class="image">
                    <img src="../images/index/image2.png">
                </div>
                <ul class="title clearfix">
                    <li>清清淡淡的美</li>
                    <li>海阔天空</li>
                </ul>
                <ul class="pin-dao clearfix">
                    <li>那些好听的翻唱</li>
                    <li>频道</li>
                </ul>
            </li>
            <li>
                <div class="image">
                    <img src="../images/index/image2.png">
                </div>
                <ul class="title clearfix">
                    <li>清清淡淡的美</li>
                    <li>海阔天空</li>
                </ul>
                <ul class="pin-dao clearfix">
                    <li>那些好听的翻唱</li>
                    <li>频道</li>
                </ul>
            </li>
            <li>
                <div class="image">
                    <img src="../images/index/image2.png">
                </div>
                <ul class="title clearfix">
                    <li>清清淡淡的美</li>
                    <li>海阔天空</li>
                </ul>
                <ul class="pin-dao clearfix">
                    <li>那些好听的翻唱</li>
                    <li>频道</li>
                </ul>
            </li>
        </ul>
    </div>
</div>


</body>
</html>