<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/register.css">
    <script src="../scripts/init-base-font-size.js"></script>
</head>
<body>
<div class="content">
    <div class="name"></div>
    <dl class="list">
        <dt>注册</dt>
        <dd><input type="text" class="tel" placeholder="输入你的手机号"></dd>
        <dd class="clearfix"><input type="text" class="code" placeholder="验证码"><a href="#" class="send">发送验证码</a></dd>
        <dd><input type="text" class="password" placeholder="设置一个密码"></dd>
        <dd class="btn"><input type="button"  value="下一步"></dd>
    </dl>
</div>

</body>
</html>