<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../styles/common.css">
<link rel="stylesheet" href="../styles/upload.css">
<script src="../scripts/init-base-font-size.js"></script>

<body>
<div class="content">
    <div class="title">上传我的声音</div>
    <ul class="list clearfix">
        <li>
            <div class="icon"><img src="../images/upload/icon.png"></div>
            <div class="text">录点声音</div>
        </li>
        <li>
            <div class="icon"><img src="../images/upload/icon.png"></div>
            <div class="text">有声表情</div>
        </li>
        <li>
            <div class="icon"><img src="../images/upload/icon.png"></div>
            <div class="text">推荐音乐</div>
        </li>
    </ul>
</div>
</body>
</html>